@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Inria Sans', sans-serif;
  font-size: 18px;
  color: #aaa;
  background-color: #000;
}

header {
  height: 100px;
  margin: 0;
  padding: 10px;
  text-align: center;
  grid-column: 1 / 3;
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 450px 450px;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}